<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/output.css' />
    <link rel="stylesheet" href="/stylesheets/bsmain.css">
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <nav class="tw-bg-red-600">
      <a href="/"><img class="tw-ml-10" src="/images/logo.png" alt=""></a>
    </nav>

    
<div class="main tw-flex tw-justify-around tw-flex-wrap-reverse ">
  
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Accordion Item #1
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
      </div>
    </div>
  </div>
  <div class="login tw-m-10 tw-w-2/4">
    
    <div class="tw-min-h-screen tw-bg-gray-100 tw-text-gray-900 tw-flex tw-justify-center">
      <div class="tw-max-w-screen-xl tw-m-0 tw-sm:m-10 tw-bg-white tw-shadow tw-sm:rounded-lg tw-flex tw-justify-center tw-flex-1">
          <div class="tw-lg:w-1/2 tw-xl:w-5/12 tw-p-6 tw-sm:p-12">
              <div class="tw-mt-12 tw-flex tw-flex-col tw-items-center">
                  <div class="tw-w-full tw-flex-1 tw-mt-8">
                      <div class="tw-flex tw-flex-col tw-items-center">
                          <button
                              class="tw-w-full tw-max-w-xs tw-font-bold tw-shadow-sm tw-rounded-lg tw-py-3 tw-bg-green-100 tw-text-gray-800 tw-flex tw-items-center tw-justify-center tw-transition-all tw-duration-300 tw-ease-in-out tw-focus:outline-none tw-hover:shadow tw-focus:shadow-sm tw-focus:shadow-outline">
                              <div class="tw-bg-white tw-p-2 tw-rounded-full">
                                <svg class="tw-w-4" viewBox="0 0 533.5 544.3">
                                  <path
                                      d="M533.5 278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1 33.8-25.7 63.7-54.4 82.7v68h87.7c51.5-47.4 81.1-117.4 81.1-200.2z"
                                      fill="#4285f4" />
                                  <path
                                      d="M272.1 544.3c73.4 0 135.3-24.1 180.4-65.7l-87.7-68c-24.4 16.6-55.9 26-92.6 26-71 0-131.2-47.9-152.8-112.3H28.9v70.1c46.2 91.9 140.3 149.9 243.2 149.9z"
                                      fill="#34a853" />
                                  <path
                                      d="M119.3 324.3c-11.4-33.8-11.4-70.4 0-104.2V150H28.9c-38.6 76.9-38.6 167.5 0 244.4l90.4-70.1z"
                                      fill="#fbbc04" />
                                  <path
                                      d="M272.1 107.7c38.8-.6 76.3 14 104.4 40.8l77.7-77.7C405 24.6 339.7-.8 272.1 0 169.2 0 75.1 58 28.9 150l90.4 70.1c21.5-64.5 81.8-112.4 152.8-112.4z"
                                      fill="#ea4335" />
                              </svg>  
                              </div>
                              <span class="tw-ml-4">
                                  Sign In with Google
                              </span>
                          </button>
    
                      </div>
    
                      <div class="tw-my-12 tw-border-b tw-text-center">
                          <div
                              class="tw-leading-none tw-px-2 tw-inline-block tw-text-sm tw-text-gray-600 tw-tracking-wide tw-font-medium tw-bg-white tw-transform tw-translate-y-1/2">
                              Or sign In with E-mail
                          </div>
                      </div>
    
                      <div class="tw-mx-auto tw-max-w-xs">
                          <input
                              class="tw-w-full tw-px-8 tw-py-4 tw-rounded-lg tw-font-medium tw-bg-gray-100 tw-border tw-border-gray-200 tw-placeholder-gray-500 tw-text-sm tw-focus:outline-none tw-focus:border-gray-400 tw-focus:bg-white"
                              type="email" placeholder="Email" />
                          <input
                              class="tw-w-full tw-px-8 tw-py-4 tw-rounded-lg tw-font-medium tw-bg-gray-100 tw-border tw-border-gray-200 tw-placeholder-gray-500 tw-text-sm tw-focus:outline-none tw-focus:border-gray-400 tw-focus:bg-white tw-mt-5"
                              type="password" placeholder="Password" />
                          <button
                              class="tw-mt-5 tw-tracking-wide tw-font-semibold tw-bg-green-400 tw-text-white-500 tw-w-full tw-py-4 tw-rounded-lg tw-hover:bg-green-700 tw-transition-all tw-duration-300 tw-ease-in-out tw-flex tw-items-center tw-justify-center tw-focus:shadow-outline tw-focus:outline-none">
                              <svg class="tw-w-6 tw-h-6 tw-ml-2" fill="none" stroke="currentColor" stroke-width="2"
                                  stroke-linecap="round" stroke-linejoin="round">
                                  <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                                  <circle cx="8.5" cy="7" r="4" />
                                  <path d="M20 8v6M23 11h-6" />
                              </svg>
                              <span class="tw-ml-">
                                  Sign In
                              </span>
                          </button>
                          
                      </div>
                  </div>
              </div>
          </div>
          <div class="tw-flex-1 tw-bg-green-100 tw-text-center tw-hidden tw-lg:flex">
              <div class="tw-m-12 tw-xl:m-16 tw-w-full tw-bg-contain tw-bg-center tw-bg-no-repeat"
                  style="background-color: azure;">
              </div>
          </div>
      </div>
    </div>
    
  </div>
</div>
    
  </body>
</html>
