@import url('https://use.typekit.net/oov2wcw.css');

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:  'Century Gothic', 'century-gothic', sans-serif !important;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
